/**
 * Prototyping Boilerplate
 */

:root {
	--line-height-base: 1.5;
}

/**
 * Box Model
 */

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/**
 * Example of Custom Property
 */

body {
	line-height: var(--line-height-base);	
}
